<!doctype html>
<html lang="en" ng-app="devEnv">
<head>
  <meta charset="utf-8">
  <title>Dev Environment for UI</title>
  <link rel="stylesheet" href="../app/css/app.css"/>
  <link rel="stylesheet" href="css/devenv.css"/>
</head>
<body>
<div class="testcontrols">
Controller states  <ul class="menu">
    <li><a href="#/view1">Empty list</a></li>
    <li><a href="#/view2">PeopleFromService</a></li>
    <li><a href="#/view3">Negative People</a></li>
    <li><a href="#/view4">Long List</a></li>
  </ul>
</div>
  <span ng-controller="DevEnvironment">
	<div class="testcontrols">Controller events<br/>
	 	<button  ng-click="$broadcast('AddUserToList')">Empty List:: Add person</button>
		<button  ng-click="addPerson()">Service:: Add person</button>
	</div>
  <div ng-view></div>
  </span>


  <div class="testcontrols">
  <div>Dev environment v<span app-version></span></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="../app/lib/angular/angular.js"></script>
  <script src="js/peopleListApp.js"></script>
  <script src="js/peopleListControllers.js"></script>
  <script src="../devenv/js/servicesMock.js"></script>
  <script src="../app/js/filters.js"></script>
  <script src="../app/js/directives.js"></script>
</body>
</html>
